#common-header {
  background-color: #e9203d;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
  position: relative;
}
#common-header h1 {
  display: inline;
  font-size: 16px;
  line-height: 1;
  font-weight: 100;
}
#common-header .back-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
}
