.list-item {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}
.list-item .item-img-container {
  width: 120px;
  height: 90px;
}
.list-item .item-img-container img {
  width: 100%;
  height: 100%;
}
.list-item .item-content {
  margin-left: 100px;
  padding-left: 30px;
}
.list-item .item-content .item-title-container {
  height: 25px;
}
.list-item .item-content .item-title-container h3 {
  font-size: 18px;
  line-height: 1;
  color: #333;
}
.list-item .item-content .item-title-container span {
  font-size: 13px;
  line-height: 18px;
  color: #999;
}
.list-item .item-content .item-sub-title {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}
.list-item .item-content .item-price-container {
  margin-top: 10px;
}
.list-item .item-content .item-price-container .price {
  font-size: 18px;
  line-height: 1;
  font-weight: 900;
  color: #e9203d;
}
.list-item .item-content .item-price-container .number {
  font-size: 13px;
  line-height: 18px;
  color: #999;
}
