.mui-table-view {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background-color: #fff;
  margin-bottom: 13px;
  margin-top: 10px;
}
.mui-table-view .mui-table-view-cell {
  position: relative;
  overflow: hidden;
  padding: 11px 15px;
  border-bottom: 1px solid #f1f1f1;
}
.mui-table-view .mui-table-view-cell .about-img {
  width: 24px;
  margin-right: 4px;
}
