#login-container {
  width: 300px;
  margin: 160px auto 0 auto;
}
#login-container .input-container {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  overflow: hidden;
}
#login-container .input-container input {
  font-size: 16px;
  display: block;
}
#login-container .input-container i {
  color: #e9203d;
  width: 16px;
  float: left;
  margin-top: 3px;
}
#login-container .phone-container input {
  margin-left: 20px;
}
#login-container .password-container {
  margin-top: 10px;
}
#login-container .password-container input {
  margin-left: 20px;
  margin-right: 80px;
}
#login-container .password-container button {
  width: 80px;
  height: 100%;
  font-size: 16px;
  color: #e9203d;
  border: 0;
  background-color: #fff;
  text-align: center;
  float: right;
}
#login-container .btn-login {
  width: 100%;
  text-align: center;
  background-color: #e9203d;
  color: #fff;
  border: 1px solid #e9203d;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  padding: 5px 0;
}
