.detail-comment-subpage {
  background-color: #fff;
  margin-top: 20px;
}
.detail-comment-subpage h2 {
  font-size: 18px;
  padding: 5px 10px;
  border-bottom: 1px solid #f1f1f1;
}
.detail-comment-subpage .loading {
  text-align: center;
}
