.detail-comment-subpage {
  background-color: #fff;
  margin-top: 20px;
  padding: 0 20px 5px 20px;
}
.detail-comment-subpage .user-title {
  font-size: 16px;
  border-bottom: 1px solid #f1f1f1;
  padding: 12px 7px;
}
.detail-comment-subpage .loading {
  text-align: center;
}
