.detail-info-container {
  background-color: #fff;
  padding: 10px;
}
.detail-info-container .info-container {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.detail-info-container .info-img-container {
  width: 130px;
}
.detail-info-container .info-img-container img {
  width: 100%;
}
.detail-info-container .info-content {
  margin-left: 140px;
}
.detail-info-container .info-content h1 {
  font-size: 20px;
  color: #333;
}
.detail-info-container .info-content .star-container {
  margin: 5px 0;
}
.detail-info-container .info-content .star-container .price {
  margin-left: 20px;
  color: #999;
}
.detail-info-container .info-content .sub-title {
  color: #999;
}
.detail-info-container .info-desc {
  color: #999;
  line-height: 1.5;
  clear: both;
}
